body {
  font: 400 15px Tahoma, sans-serif;
  line-height: 1.8;
  font-size:16px;
  font-weight: 500;
  color: #000000;
  background-color: rgba(112, 110, 110, 0.8);
 }
h1 {
  background-color: #c5bb2d;
  color: #000;
  text-transform: uppercase;
  padding: 100px 0px;
  text-align: center;     
}
h2{
font-weight: bolder;
text-decoration: underline;
font: 500 1em Tahoma, sans-serif;
color: #000;
}
html{
background-color: rgba(255,255,255,0.7);
}
aside{
background-color:rgba(255,255,255,0.3);
color: #ffffff;
padding: 10px 10px 5px 5px;
}
nav{
font-family: Verdana,serif;
float:right;
padding-right:100px;
padding-bottom: 4px;
}
ul{
border-width: 4px;
border-radius: 40px;
background-color: #ffffff;
}
a.reseña{
text-align: center;;
}
video{
  width: 20 em;
  height: 30em;
  margin: auto;
}
img.cartel{
  float: right;  
  padding-left:10px;
  padding-bottom: 5px;
}
img.imagen{
  float: left;  
  padding-left:10px;
  width: 300px;
  height: 300px;
}
footer{
background-color: #c5bb2d;
}
h3,h4,h5,h6{
font-weight: bolder;
text-decoration: underline;
font: 500 1em Tahoma, sans-serif;
color: #000;
}
main { 
padding-top:40px;
padding-left:5px;
}
td{
text-align: center;
}
th{
background-color: #c5bb2d;
color:#000;
font-weight: 700;
}
table{
border: 4px solid black;
align-content:center;
}
